$header: white;
$header-background: #6f36f4;
$background: rgb(90, 46, 172);
$button-hover: white;
$li-background: #eee;
$li-next-background: #f9f9f9;
$li-hover-background: #ddd;
$li-check-background: lightgray;
$li-check: #fff;
$add-button-background: #d9d9d9;
$add-button: #555;
$add-button-hover-background: #555555;
$add-button-active-background: rgb(49, 48, 48);
