@import 'src/styles/colors';
@import 'src/styles/mixins';
@import 'src/styles/variables';

body {
  margin: 0;
  min-width: 250px;
}

* {
  box-sizing: border-box;
  font-family: $fonts;
}

h4 {
  margin: 5px;
}

ul {
  margin: 0;
  padding: 0;
}

.header {
  background-color: $header-background;
  padding: 30px 40px;
  color: $header;
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

.input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.add-button {
  border: none;
  padding: 10px;
  width: 25%;
  background: $add-button-background;
  color: $add-button;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0;
  @extend %transitioned;
}

.add-button:hover {
  background-color: $add-button-hover-background;
  color: $button-hover;
}

.add-button:active {
  background-color: $add-button-active-background;
}